$baseFontSize: 16px; // declare variable (integer)
$imgDir: "../img/"; // declare string variable
$brandColor: purple; // declare color

// image function: lighten(), darken()
$totalWidth: 960px;
$columnCount: 10;

$debugMode: true;
